<!DOCTYPE html>
<html ng-app="myApp1">
<head>

<link type"text/css" rel="stylesheet" href="registration.css">
</head>
<body ng-controller="myCtrl11">

<div class="top"><h1>Registration</h1></div>
<div class="left"><h1>fill up details</h1>
<img src="https://tse4.mm.bing.net/th?id=OIP.M38d5e520571102616a9c15c224b2759co0&pid=15.1&P=0&w=241&h=161"/></div>
<div class="right">
<form name="RegistrationForm">
 <label> Name : <input type="text" name="name" ng-model="name" ng-focus="user()" required></label>
 <div ng-message="RegistrationForm.name.$error" ng-show=name> </div><!--first we have to show user is   name false and after user enter some thing then we have to say true and show the requied message-->
   <div ng-message="required">The field is required</div>
 </div>
<br/>
<label> password :<input type="password"  name="password"  ng-model="password" ng-focus="userpswd()" required></label>
<div ng-message="Registrationform.password.$error" ng-show=pass>password requried 
</div>
<br/> 
<label> Email :<input type="email" name="email"  ng-model="email"  ng-focus="mail()" required></label>
<div ng-message="Registrationform.password.$error" ng-show=email1>firstname+lastname@gmail.com
</div>
<br/>
<button ng-if="myForm.name.$valid && myForm.password.$valid&& myForm.email.$valid"? ng-disable :ng-enable >submit</button>
</label>
</form>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
<script type="text/javascript" src="script2.js"></script>

</body>